# ----------------------------
# Data (never commit raw data)
# ----------------------------
data/raw/
data/processed/

# ----------------------------
# Outputs
# ----------------------------
outputs/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db
